*
!*.*
!*/

*input*
*output*
*out*
TDGame
*.in
*.out
*.txt
*.cbp
*.depend
*.layout
*.save
*.class
*.o
*~
*.djvu
*.pdf
*.png
*.gif
*.jpg
*.jpeg
*game*
*.jar
*TDGame*
*.config
*.hi
*.ods
vk
vkBackup
C++*
study*
temp*
.*
*hmmmm*
*staff/cfsubmit.py
*key.me2*
trash
codeforces.stat
*vk200*
*.pch
scripts/testlib/A+B/tests*
*__pycache__*
cg
kovcg
*node_modules*
*build*
*env
*.iml
*GPS*
CodeForce/registrants.json
contest.platform/submit.py
